<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Profile</title>
  </head>
  <body>
    <div>
      <%-include("common/header")%>
      <div class="profile-container">
        <h3>Name: <%=user.name%></h3>
        <h3>Email: <%=user.email%></h3>
        <h3>City: <%=user.city%>, <%=user.state%>, <%=user.country%></h3>
        <h3>Skills:</h3>
        <ul>
          <% user.skills.forEach((item)=>{%>
          <li><%= item %></li>
          <% })%>
        </ul>
      </div>
    </div>
  </body>
</html>
